/* mémo couleur : rouge HDG rgba(161,28,0,1), jaune rgba(250,196,4,1); */

*
{
 font-family: Calibri, Arial , Verdana, "Arial Black";
    color: White; 
    font-style: normal;
}

:root
{   --fond:rgba(40,40,45,1);
    --note:rgba(7,127,127,1);
    --fond-h2:rgba(128,24,24,1);
    --note-noir:rgba(76,0,6,1);
    --note-rouge:rgba(196,0,16,1);
    --lien:rgba(0,200,100,1);
    --part:rgba(90,90,95,1);
}

header
{
    top :0px;
    left: 0px;
    background-color: var(--fond) ;
    position:fixed;
    margin:0;
    width:100%;
    height:100px; 
    border-bottom: solid;
    border-bottom-color: gray;
    
   }

footer
{
    background-color: var(--fond) ;
    position:fixed;
    bottom :0px;
    left: 0px;
    width:100%;
    height:20px; 
    
    border-top: solid;
    border-top-color: gray;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    

}

table
{
    text-align: center;
    position: center;
    border-width: 3px;
    border-style: solid;
 
    margin-left: auto;
    margin-right: auto;
}

tr, td,th
{
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

.part
{
    background-color: var(--part) ;
    padding-left: 8px ;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.marge
{
    margin-left: 30px;
}
.italique
{
    font-style: italic;
}
.gras
{
    font-weight: bold;
}
.centre
{
    position: center;
    text-align: center;
}
.logo
{
    width: 100px;
    height: 100px;
}
.alerte
{
color: Red;  
background-color: Black ;  
}

.bloc_note
{
    background-color: var(--note) ;
    padding-left: 25px ;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:10px;
    margin-bottom: 10px;
}

.bloc_noir
{
    background-color: var(--note-noir) ;
    padding-left: 8px ;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.fond_rouge
{
    background-color: var(--note-rouge);
}
textarea 
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.bloc_texte
{
    text-indent:5%;
}
.indent
{
    text-indent:5%;
    padding-bottom: 0px;
}

        

body 
{
        position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: var(--fond);

    background-image: url("font_formulaire.jpg") ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% auto ;  
}

select
{
    color : Black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


label
{
    position: center;
}
input, textarea
{
    color : black;
}

#bouton
{
    text-align: center;
    padding-bottom: 20px;
}

option
{
    color : Black;
}


@media screen and (max-width: 600px)
{
    article
    {
        margin-left: 8%;
        margin-right: 8%;
        padding-left: 10px ;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;

    }
    .logo
    {position: absolute; left: 10px;}
    #entete
    {
        padding-top: 10px;
        text-align-left;
        padding-left: 110px;
        font-size: 30px;
    }
}

@media screen and (min-width: 1001px)
{
    article
    {
        margin-left: 25%;
        margin-right: 25%;
        padding-left: 50px ;
        padding-right: 50px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .logo
    {position: absolute; 
        left: 110px;}

    #entete
    {
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px)
{
    article
    {

        margin-left: 15%;
        margin-right: 15%;
        padding-left: 10px ;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;

    }
    .logo
    {position: absolute; left: 40px;}

    #entete
    {
        padding-top: 10px;
        text-align-left;
        padding-left: 140px;
        font-size: 30px;
    }
}

article
{
    background-color: var(--fond) ;
    margin-top: 250px;
    margin-bottom: 60%;
    text-align: left;
    border-radius:20px;
}


h3
{
    text-indent:15%;
}

h2
{
    text-align: center;
    background-color: var(--fond-h2) ;
    border-radius:10px;
    margin-top: 5px;
    margin-bottom: 10px;

}
h1
{
    position: center;
    text-align: center;
    border: solid;
    margin-left: 20%;
    margin-right: 20%;
}
a /*lien internet*/
{
    color: var(--lien);
    font-style: italic;
    font-weight: bold;
}

